section{
  width: 100%;
  background-color: #07635d;
}

.custom-container {
    padding: 50px; 
   
  }
.product-image {
    height: 200px;
  }
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .product-image {
    max-width: 100%;
    height: 200px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
  }

  .card-text {
    margin-bottom: 10px;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }