<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
              
                LinkedIn: <a href="">linkedin.com/in/khaled-gomaa-9003ab239</a>
                githup: <a href="">https://github.com/khalidgomaa</a>
                Email:<a href="">khaled.gomaagedo@gmail.com </a>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">all products</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-secondary text-center py-2">
        <p>&copy; 2023 Your E-commerce Website</p>
    </div>
</footer>






