<section class="">
  <div class="container custom-container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card product-details-card">
          <img [src]="product.thumbnail" class="product-details-image card-img-top" [alt]="product.title">
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">Price: {{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>
            <p class="card-text">Discount: {{ product.discountPercentage }}%</p>
            <p class="card-text">Rating: {{ product.rating }}/5</p>
            <p class="card-text">
              {{ product.stock > 0 ? 'In Stock' : 'Out of Stock' }}
            </p>
            <p class="card-text">Brand: {{ product.brand }}</p>
            <p class="card-text">Category: {{ product.category }}</p>
            <p class="card-text">Created At: {{ product.createdAt | date:'medium' }}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary">Add to Cart</button>
            <button class="btn btn-primary mx-3" routerLink="/products">Back to Products</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
